{% extends "base.html" %} {% block head %}

<title>About</title>
<style>
    a:link {
      color: rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: rgb(255, 255, 255);
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: rgb(243, 194, 255);
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: rgb(110, 68, 105);
      background-color: transparent;
      text-decoration: underline;
    }
    </style>

{% endblock %} {% block body %}

{% endblock %}