<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <table
            style="
                text-align: center;
                color: rgb(255, 255, 255);
                font-family: 'Lucida Sans', 'Lucida Sans Regular',
                    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
                    sans-serif;
            "
            ,
            bgcolor="#7B33FF"
            ,
            width="90%,"
            align="center"
        >
            <tr>
                <td>
                    <a href="home"><h3>Home</h3></a>
                </td>
                <td>
                    <a href="login"><h3>LogIn/SignUp</h3></a>
                </td>
                <td>
                    <a href="blockchain"><h3>BlockChain</h3></a>
                </td>
                <td>
                    <a href="about"><h3>About us</h3></a>
                </td>
            </tr>
        </table>
        {% block body %}{% endblock %}
    </body>
</html>
