{% extends "base.html" %} {% block head %}
<title>Home</title>
<style>
    a:link {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: rgb(243, 194, 255);
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: rgb(110, 68, 105);
        background-color: transparent;
        text-decoration: underline;
    }
    .container{
        width: 90%;
    }
</style>
{% endblock %} {% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='assets/HealthBlok.png') }}" alt="Home page pic" style="width: 100%" />
    <table
        style="
            text-align: center;
            color: rgb(255, 255, 255);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                width: 100%;
                height: 20px;
                background-color: #7b33ff;
        "
    >
        <tr>
            <td><h3>A Healthy revolution</h3></td>
        </tr>
    </table>
</div>
{% endblock %}
